<div class="home-component__heading"></div>
<div class="home-component__content">
    <div class="home-component__col home-component__leaderboard">
        <h1 class="home-component__text">Leaderboard</h1>
    </div>
    <div class="home-component__col">
        <div class="home-component__blurb">
            <h1 class="home-component__text">Have you any Heat?</h1>
            <p class="home-component__text">Heatcheck is one of the outfit ranking systems ever made.</p>
        </div>
        <div class="home-component__upload-container">
            <div 
                class="drag-drop-area"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)">
                <p *ngIf="!uploadedImage">Drag & Drop your image here, or click to upload</p>
                <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded image preview" class="preview-img" />
                <input
                    type="file"
                    accept="image/jpeg"
                    (change)="onFileSelected($event)"
                    hidden
                    #fileInput />
                <button (click)="fileInput.click()">Browse Files</button>
            </div>
        </div>
    </div>
</div>

