.home-component {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        margin: 2% 3% 2% 3%;
        grid-column-gap: 2%;
    }

    
    &__col {
        width: 100%;
    }

    &__blurb-col {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    &__text {
        padding-left: 3%;
        padding-top: 2%;
        font-size: 2em;
    }

    &__small-text {
        font-size: 1em;
    }

    &__leaderboard {
        color: #F7DBD8; // the word "Leaderboard"
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px #d28e7e;
        height: 700px;
        max-height: 700px; /* Set the height of the scrollable container */
        overflow-y: auto;
    }

    &__leaderboard-table {
        border-collapse: collapse;
        border: none;
        border-radius: 10px;
        background-color: #4c589c; //odd numbers on leaderboard
        color: #cf95ba; // odd text
        font-size: 1.6em;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 90%;
    }

    &__leaderboard-table tbody tr:nth-child(even) {
        background-color: #3f4a88; // even numbers on leaderboard
        color: #be7fa7; // even text
    }

    &__leaderboard-table td {
        padding-left: 1%;
        border: none;
    }
    //https://stackoverflow.com/questions/4094126/how-to-add-border-radius-on-table-row
    &__leaderboard-table tr:first-child td:first-child { border-top-left-radius: 10px; }
    &__leaderboard-table tr:first-child td:last-child { border-top-right-radius: 10px; }

    &__leaderboard-table tr:last-child td:first-child { border-bottom-left-radius: 10px; }
    &__leaderboard-table tr:last-child td:last-child { border-bottom-right-radius: 10px; }

    &__blurb {
        height: 40%;
        color: #f7dbd8;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px #f7dbd8;
        margin-bottom: 5%;
    }

    &__photo-upload {
        padding-top: 2%;
        padding-left: 0;
        text-align: center;
        color: #f7dbd8;
        border: 5px dotted #d28d7e88;
        border-radius: 10px;
        height: 60%;
    }

    &__upload-container {
        padding-left: 0;
        text-align: center;
        color: #f7dbd8;
        border: 5px dotted #d28d7e88;
        border-radius: 10px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button-primary {
        margin-top: 2%;
        transition-duration: 0.4s;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: none;
        border-radius: 5px;
        padding: 1% 2%;
        color: #21002b;
        background-color: #f7dbd8;
    }

    &__button-primary:hover {
        background-color: #d28e7e;
    }

    &__drag-drop-area {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    &__drag-drop-area:hover {
        background-color: #21002b;
    }
    
    &__drag-drop-area.active {
        background-color: #e8f5e9;
    }

    &__preview-img {
        max-width: 100%;
        max-height: 200px;
        margin-top: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    &__spinner {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #21002b; /* Blue */
        border-radius: 50%;
        width: 5px;
        height: 5px;
        animation: spin 1s linear infinite;
        display: inline-block;
        margin-right: 5px;
      }
      
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    &__modal {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
      
    &__modal-content {
        position: relative; /* Add this to make close button positioning relative */
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 400px;
    }
      
    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        background: none;
        border: none;
        color: black;
    }

}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.home-component__username-input {
    width: 90%;
    padding: 10px;
    //padding-left: 10%;
    margin-left: 3%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .home-component__username-input:focus {
    border-color: #f7dbd8;
    outline: none;
  }